@mixin responsive
  @media (max-width: 1440px) 
    .container
      padding: 0 0.9375em !important
    

  @media (max-width: 1099px) 
    .container
      max-width: 900px !important
    .index__title, .profile__title, .contacts__title
      font-size: 2.625rem
    .index__card
      width: 17.5em


  @media (max-width: 940px) 
    .header__link
      margin-right: 0.625em !important
    .container
      max-width: 750px
    
    .index__title, .profile__title, .contacts__title
      font-size: 2.25rem
    .cards
      flex-direction: column
    .index__card
      width: 100%

  @media (max-width: 720px) 
    .modal-window__form
      width: 30em !important
    .password__type
      right: 2.5em !important

  @media (max-width: 640px) 
    .profile__title
      padding-top: 1.8em
    .header__button
      padding: 0.375em 1.25em !important
    
  @media (max-width: 550px) 
    .modal-window__form
      width: 20em !important
    .form__item
      display: flex
      flex-direction: column
    .input
      margin-top: 0.5em !important
      margin-left: 0em !important
      width: 15em !important
      height: 2em !important
    .password__type
      top: 14.3em !important
      right: 1.8em !important


  @media (max-width: 508px) 
    .button__action-group-profile_theme_contacts
      margin-top: 1em
    .button__action-group-profile_theme_logout
      width: 237.594px

  @media (max-width: 480px) 
    .container
      padding: 0 0.625em !important
    .index__title, .profile__title, .contacts__title
      font-size: 1.59rem
      padding-top: 2.01785em
    .action
      padding-bottom: 0em
    .cards
      margin-top: 1.84375em
    .card__item_name_reception
      order: 2
    .card__item_name_extra
      order: 3
    .card__item_name_treatment
      order: 1
    .modal-window__title
      font-size: 1.375rem !important
    .label
      font-size: 0.875rem !important
    .password__type
      top: 11.4em !important
      right: 2.8em !important
    .snackbar
      width: 75%
    .snackbar__message
      font-size: 0.775rem

  @media (max-width: 374px) 
    .header__link
      font-size: 0.875rem !important
    .header__button
      font-size: 1rem !important
    .index__title, .profile__title, .contacts__title
      font-size: 1.5rem
    .modal-window__form
      width: 15em !important
    .password__type
      top: 11.4em !important
      right: 0.2em !important